SECRET_KEY=tu_secret_key
DATABASE_URL=postgresql+psycopg2://user:password@db:5432/db_name

ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
REFRESH_TOKEN_GRACE_PERIOD=2

COOKIE_SECURE=False

ENVIRONMENT=development
DEBUG=True